{% extends "base.html" %}
{% block content %}

	<p>Hei, <strong>Arto (opettaja)</strong></p>
	<a href="/tsoha/koti_opettaja">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Muokkaa kyselyä: web devving (online course)</h3>
	<br>

	<a href="/tsoha/opettaja_webdevving_paivita_kysymyksia" class="btn btn-primary">Muokkaa kurssikohtaisia kysymyksiä</a>
	<a href="/tsoha/opettaja_webdevving_lisaa_kysymyksia" class="btn btn-primary">Lisää kurssikohtaisia kysymyksiä</a>

{% endblock %}
