{% extends "base.html" %}
{% block content %}

	<p>Hei, <strong>Pekka (oppilas)</strong></p>
	<a href="/tsoha/koti_oppilas">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Tee kysely</h3>
	<div class="dropdown">
	  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Valitse kurssi
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="/tsoha/kysely_tikape" >Tietokantojen perusteet</a></li>
		 </ul>
	</div>

	<h3>Ilmoittaudu kurssille</h3>
	<div class="dropdown">
	  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Valitse
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="" >Tietokoneen toiminta</a></li>
			<li><a href="" >Webdevving (online course)</a></li>
			<li><a href="" >Game Dev Course</a></li>
		 </ul>
	</div>

{% endblock %}
