{% extends "base.html" %}
{% block content %}

	 <p>Hei, <strong>Matti (vastuuhenkilö: Tietojenkäsittelytieteen laitos)</strong></p>
	<a href="/tsoha/koti_vastuuhenkilo">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Kurssit:</h3>
	<a href="/tsoha/vastuuhenkilo_yhteenveto" class="btn btn-primary">Näytä yhteenveto</a>
	<br><br>

	<ul class="list-group">
	  	<li class="list-group-item">
			<span class="badge"><a href="vastuuhenkilo_tikape"><font color="cyan">näytä</font></a></span>
			<span class="badge">kysely meneillään</span>
			Tietokantojen perusteet</li>
		<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">näytä</font></a></span>
			<span class="badge">kysely meneillään</span>
			Game Dev Course</li>
	  	<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">näytä</font></a></span>
			<span class="badge">ei kyselyä</a></span>
			Tietokoneen toiminta</li>
		<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">näytä</font></a></span>
			<span class="badge">kysely ei meneillään</a></span>
			web devving (online course)</li>
	</ul>

	<a href ="/tsoha/vastuuhenkilo_luo_kurssi" class="btn btn-primary">Luo kurssi</a>

{% endblock %}
