{% extends "base.html" %}
{% block content %}

	 <p>Hei, <strong>Matti (vastuuhenkilö: Tietojenkäsittelytieteen laitos)</strong></p>
	<a href="/tsoha/koti_vastuuhenkilo">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Kysymykset</h3>

	<label>Yleiset kysymykset</label>
	<ul class="list-group">
	  	<li class="list-group-item">
			<span class="badge"><a href="muokkaa_kysymys.html"><font color="cyan">muokkaa</font></a></span>
			<span class="badge"><a href=""><font color="red">poista</font></a></span>
			Kuinka vaikea kurssi oli?</li>
		<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">muokkaa</font></a></span>
			<span class="badge"><a href=""><font color="red">poista</font></a></span>
			Kuinka hauska kurssi oli?</li>
	</ul>
	<a href="lisaa_kysymys.html" class="btn btn-primary btn-sm">lisää</a><br><br>

	<label>Laitoskohtaiset kysymykset</label>
	<ul class="list-group">
	  	<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">muokkaa</font></a></span>
			<span class="badge"><a href=""><font color="red">poista</font></a></span>
			Opettiko kurssi uutta tietojenkäsittelytieteestä?</li>
	</ul>
	<button class="btn btn-primary btn-sm">lisää</button>

{% endblock %}
