{% extends "base.html" %}
{% block content %}

	 <p>Hei, <strong>Matti (vastuuhenkilö: Tietojenkäsittelytieteen laitos)</strong></p>
	<a href="/tsoha/koti_vastuuhenkilo">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Luo kurssi</h3>

	<label>Nimi</label>
	<input type="text" class="form-control"><br>

	<label>Opettajat</label>	
	
	<ul class="list-group">
		  <li class="list-group-item">
			<span class="badge"><a href="""><font color="cyan">poista</font></a></span>			
			Arto (esim. aiemmin valittu)</li>
	</ul>

	<div class="dropdown">
	  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Valitse
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="" >Jaakko</a></li>
		    <li><a href="" >Juuso</a></li>
		    <li><a href="" >Kari</a></li>	 
		</ul>
	</div>


	<div style="padding: 0px 0px 40px 0px"></div>
	<button class="btn btn-success">Valmis</button>

{% endblock %}
