{% extends "base.html" %}
{% block content %}

	 <p>Hei, <strong>Matti (vastuuhenkilö: Tietojenkäsittelytieteen laitos)</strong></p>
	<a href="/tsoha/koti_vastuuhenkilo">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Tietokantojen perusteet</h3>	
	<p><strong>Opettajat: </strong>Arto, Kari <p>
	<p><strong>Osallistujia: </strong>214<p>

	
	<a href ="tikape_raportti.html" class="btn btn-primary">Näytä kyselyraportti</a><br><br>
	<a href ="muokkaa_kurssia.html" class="btn btn-warning">Muokkaa kurssia</a>
	<button class="btn btn-danger">Poista kurssi</button>

{% endblock %}
