{% extends "base.html" %}
{% block content %}

	 <p>Hei, <strong>Matti (vastuuhenkilö: Tietojenkäsittelytieteen laitos)</strong></p>
	<a href="/tsoha/koti_vastuuhenkilo">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Yhteenveto</h3>

	<table class="table">
		<thead>
			<tr>
				<th>Kurssi</th>
				<th>Kysymys</th>
				<th>Keskiarvo</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tietokantojen perusteet</td>
				<td>Kuinka vaikea kurssi oli?</td>
				<td>3.6</td>
			</tr>
			<tr>
				<td>Game Dev Course</td>
				<td>Kuinka vaikea kurssi oli?</td>
				<td>4.6</td>
			</tr>
			<tr>
				<td>Tietokantojen perusteet</td>
				<td>Kuinka hauska kurssi oli?</td>
				<td>3.9</td>
			</tr>
			<tr>
				<td>Game Dev Course</td>
				<td>Kuinka hauska kurssi oli?</td>
				<td>4.5</td>
			</tr>
			<tr>
				<td>Tietokantojen perusteet</td>
				<td>Opettiko kurssi uutta tietojenkäsittelytieteestä?</td>
				<td>4.3</td>
			</tr>
			<tr>
				<td>Game Dev Course</td>
				<td>Opettiko kurssi uutta tietojenkäsittelytieteestä?</td>
				<td>4.7</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
