{% extends "base.html" %}
{% block content %}

	<p>Hei <strong>{{kayttaja.nimi}}</strong></p>

	<a href="{{base_path}}/vastuuhenkilo/koti">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	
	
	<h3>{{kurssi.nimi}}</h3>
	<p><strong>Opettaja: </strong> {{opettaja.nimi}}</p>
	<p><strong>Osallistujia: </strong>{{osallistujienMaara}}</p>

	{% if kurssi.kysely_kaynnissa == false %}
		<a href="{{base_path}}/vastuuhenkilo/muokkaa_kurssia/{{kurssi.id}}" class= "btn btn-warning">Muokkaa kurssia</a>
	{% endif %}
	<!--
	<a href ="/tsoha/vastuuhenkilo_tikape_raportti" class="btn btn-primary">Näytä kyselyraportti</a><br><br>
	<a href ="/tsoha/vastuuhenkilo_tikape_muokkaa" class="btn btn-warning">Muokkaa kurssia</a>
	<button class="btn btn-danger">Poista kurssi</button>
	-->


{% endblock %}
