{% extends "base.html" %}
{% block content %}

	{% import "macros/menu.html" as menu %}
	{{menu.menu("#{kayttaja.nimi}", "#{base_path}/#{koti_path}")}}
	
	<h3>{{kurssi.nimi}}</h3>
	<p><strong>Opettaja: </strong> {{opettaja.nimi}}</p>
	<p><strong>Osallistujia: </strong>{{osallistujienMaara}}</p>

	{% if kurssi.kysely_kaynnissa == 0 and vastuuhenkiloStatus%}
		<a href="{{base_path}}/vastuuhenkilo/muokkaa_kurssia/{{kurssi.id}}" class= "btn btn-warning">Muokkaa kurssia</a>

		<form method="post" action="{{base_path}}/poista_kurssi/{{kurssi.id}}" style="display:inline-block">
			<button type="submit" class="btn btn-danger">Poista kurssi</button>
		</form>
	{% endif %}

	{% if kurssi.kysely_kaynnissa %}
		<a href="{{base_path}}/kurssi/{{kurssi.id}}/raportti" class="btn btn-primary">Näytä raportti</a>
	{% elseif  kurssi.kysely_kaynnissa == 0 and opettajaStatus %}
		<a href="{{base_path}}/opettaja/luo_kysely/{{kurssi.id}}" class="btn btn-primary">Muokkaa kyselyä</a>
	{% endif %}
	
	

{% endblock %}
