{% extends "base.html" %}

{% block content %}

	{% import "macros/menu.html" as menu %}
	{{menu.menu("#{kayttaja.nimi}", "#{base_path}/vastuuhenkilo/koti")}}

	<h3>Kurssit:</h3>
	<!--<a href="{{base_path}}/vastuuhenkilo_yhteenveto" class="btn btn-primary">Näytä yhteenveto</a>-->
	<br><br>

	<ul class="list-group">
		{% for kurssi in kurssit %}
			<li class="list-group-item">
				<span class="badge"><a href="{{base_path}}/kurssi/{{kurssi.id}}">näytä</a></span>
				{% if kurssi.kysely_kaynnissa %}
					<span class="badge">kysely käynnissä</span>		 
				{% endif %}
				{{kurssi.nimi}}
			</li>
		{% endfor %}
	</ul>

	<a href ="{{base_path}}/vastuuhenkilo/kurssit/uusi" class="btn btn-primary">Lisää kurssi</a>

{% endblock %}
