{% extends "base.html" %}

{% block content %}

	{% import "macros/forms.html" as forms %}

	{% import "macros/menu.html" as menu %}
	{{menu.menu("#{kayttaja.nimi}", "#{base_path}/vastuuhenkilo/koti")}}

	<h3>Kysymykset</h3>

	<label>Yleiset kysymykset</label>
	<ul class="list-group">
		{% for kysymys in yleisetKysymykset %}
			<li class="list-group-item">
				{{forms.destroy_button("#{base_path}/kysymykset/poista/#{kysymys.id}")}}
				{{forms.edit_button("#{base_path}/kysymykset/muokkaa/#{kysymys.id}")}}
				{{kysymys.sisalto}}
			</li>
		{% endfor %}
	</ul>
	<br><br>

	<label>Laitoskohtaiset kysymykset</label>
	<ul class="list-group">
		{% for kysymys in laitosKysymykset %}
			<li class="list-group-item">
				{{forms.destroy_button("#{base_path}/kysymykset/poista/#{kysymys.id}")}}
				{{forms.edit_button("#{base_path}/kysymykset/muokkaa/#{kysymys.id}")}}
				{{kysymys.sisalto}}		
			</li>
		{% endfor %}
	</ul><br><br>
	<a href="{{base_path}}/vastuuhenkilo/kysymykset/uusi" class="btn btn-primary ">Lisää kysymys</a>

{% endblock %}
