{% extends "base.html" %}

{% block content %}

	<p>Hei <strong>{{kayttaja.nimi}}</strong></p>

	<a href="{{base_path}}/vastuuhenkilo/koti">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Kysymykset</h3>

	<label>Yleiset kysymykset</label>
	<ul class="list-group">
		{% for kysymys in yleisetKysymykset %}
			<li class="list-group-item">
				<!--<span class="badge"><a href="">muokkaa</a></span>-->
				<!--<span class="badge"><a href="">poista</a></span>-->
				{{kysymys.sisalto}}
			</li>
		{% endfor %}
	</ul>
	<br><br>

	<label>Laitoskohtaiset kysymykset</label>
	<ul class="list-group">
		{% for kysymys in laitosKysymykset %}
			<li class="list-group-item">
				<!--<span class="badge"><a href="">muokkaa</a></span>-->
				<!--<span class="badge"><a href="">poista</a></span>-->
				{{kysymys.sisalto}}		
			</li>
		{% endfor %}
	</ul><br><br>
	<a href="{{base_path}}/vastuuhenkilo/kysymykset/uusi" class="btn btn-primary ">lisää uusi kysymys</a>

{% endblock %}
