{% extends "base.html" %}

{% block content %}

	<h2>Kirjaudu sisään vastuuhenkilönä</h2>

	{% import "macros/errors_and_messages.html" as messages %}
	{{messages.error_box(error)}}

	<form method="post" action="{{base_path}}/vastuuhenkilo/login">
		<div class="form-group">
			<label>Nimi</label>
			<input class="form-control" name="nimi" type="text">

			<label>Salasana</label>
			<input class="form-control" name="salasana" type="password">
		</div>
		<button type="submit" class="btn btn-primary">Valmis</button>
	</form>

{% endblock %}
