{% extends "base.html" %}

{% block content %}

	<p>Hei <strong>{{käyttäjä.nimi}}</strong></p>

	<a href="{{base_path}}/vastuuhenkilo/koti">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Opettajat</h3>

	<ul class="list-group">

		{% for opettaja in opettajat %}
			<li class="list-group-item">
				<span class="badge"><a href="{{base_path}}/opettaja/{{opettaja.id}}">näytä</a></span>
				{{opettaja.nimi}}
			</li>
		{% endfor %}
	</ul>

<!--
	<h3>Opettajat</h3>

	<ul class="list-group">
	  	<li class="list-group-item">
			<span class="badge"><a href="/tsoha/vastuuhenkilo_opettajat_arto"><font color="cyan">näytä</font></a></span>
			Arto</li>
		<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">näytä</font></a></span>
			Jaakko</li>
	  	<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">näytä</font></a></span>
			Juuso</li>
		<li class="list-group-item">
			<span class="badge"><a href=""><font color="cyan">näytä</font></a></span>
			Kari</li>
	</ul>
-->

{% endblock %}
