{% extends "base.html" %}

{% block content %}

	<p>Hei <strong>{{kayttaja.nimi}}</strong></p>

	<a href="{{base_path}}/vastuuhenkilo/koti">Koti</a>
	<h1 style="padding: 10px 0px 60px 0px"> Kurssikysely </h1>	

	<h3>Opettaja: {{opettaja.nimi}}</h3>
	<label>Kurssit</label>
	<ul class="list-group">
		{% for kurssi in kurssit %}
			<li class="list-group-item">
				<span class="badge"><a href="{{base_path}}/kurssi/{{kurssi.id}}">näytä</a></span>
				{{kurssi.nimi}}
			</li>
		{% endfor %}
	</ul>

<!--
	<a href ="/tsoha/vastuuhenkilo_opettajat_muokkaa" class="btn btn-primary">Muokkaa</a>
-->
	
{% endblock %}
