{% extends "base.html" %}

{% block content %}

	{% import "macros/menu.html" as menu %}
	{{menu.menu("#{kayttaja.nimi}", "#{base_path}/vastuuhenkilo/koti")}}

	<h3>Opettaja: {{opettaja.nimi}}</h3>
	<label>Kurssit</label>
	<ul class="list-group">
		{% for kurssi in kurssit %}
			<li class="list-group-item">
				<span class="badge"><a href="{{base_path}}/kurssi/{{kurssi.id}}">näytä</a></span>
				{{kurssi.nimi}}
			</li>
		{% endfor %}
	</ul>

<!--
	<a href ="/tsoha/vastuuhenkilo_opettajat_muokkaa" class="btn btn-primary">Muokkaa</a>
-->
	
{% endblock %}
