{% extends "base.html" %}

{% block content %}

	{% import "macros/menu.html" as menu %}
	{{menu.menu("#{kayttaja.nimi}", "#{base_path}/vastuuhenkilo/koti")}}

	<h3>Lisää kysymys</h3>
	
	{% import "macros/errors_and_messages.html" as messages %}
	{{messages.errors_box(errors)}}

	<label>Yleinen</label>
	<form method="post" action="{{base_path}}/uusi_yleinen_kysymys">
		<div class="form-group">
			<input name="sisalto" type="text" class="form-control"><br>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">Lisää</button>
		</div>	
	</form>

	<label>Laitoskohtainen</label>
	<form method="post" action="{{base_path}}/uusi_laitoskysymys">
		<div class="form-group">
			<input name="sisalto" type="text" class="form-control"><br>
			<input name="laitos_id" type="hidden" value="{{kayttaja.laitos_id}}">		
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">Lisää</button>
		</div>	
	</form>

	<a href="{{base_path}}/vastuuhenkilo/kysymykset" class="btn btn-primary"> 
		&lt;Kysymykset
	</a>
	
	
	

{% endblock %}
