{% extends "base.html" %}

{% block content %}

	{% import "macros/menu.html" as menu %}
	{{menu.menu("#{kayttaja.nimi}", "#{base_path}/vastuuhenkilo/koti")}}

	<h3>Lisää kurssi</h3>
	
	{% import "macros/errors_and_messages.html" as messages %}
	{{messages.errors_box(errors)}}

	<form method="post" action="{{base_path}}/vastuuhenkilo/uusi_kurssi">
		<div class="form-group">
			<label>Nimi</label>
			<input name="nimi" type="text" class="form-control">

			<label>Opettaja</label>
			<select name="opettaja_id" class="form-control">
				{% for opettaja in opettajat %}
					<option value="{{opettaja.id}}">{{opettaja.nimi}}</option>
				{% endfor %}
			</select> 			

			<input name="laitos_id" type="hidden" value="{{kayttaja.laitos_id}}">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">Lisää</button>
		</div>
	</form>
	
	<a href="{{base_path}}/vastuuhenkilo/kurssit" class="btn btn-primary">< Kurssit</a>

{% endblock %}
